.QuizList {
  .QuizTile {
    width: 450px;
    margin-bottom: 12px;
  }

  .QuizTileBanner {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-family: "Work+Sans", sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.87);
    letter-spacing: 0.8px;
    line-height: 24px;
  }
}
